{:duct.profile/base
 {:duct.core/project-ns clojure-challenge.scramble

  :duct.router/ataraxy
  {:routes
   {[:get "/scramble" {{:strs [s1 s2]} :query-params}] [:clojure-challenge.scramble.handlers/get s1 s2]
    [:post "/scramble" {req :body-params}]             [:clojure-challenge.scramble.handlers/post req]}}

  :clojure-challenge.scramble.core/scramble?     {}

  :clojure-challenge.scramble.handlers/get
  {:scramble? #ig/ref :clojure-challenge.scramble.core/scramble?}

  :clojure-challenge.scramble.handlers/post
  {:scramble? #ig/ref :clojure-challenge.scramble.core/scramble?}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/api
 {}}
